.navigation__list-items--menu{
    float: right;
}
.navigation__list-items--menu .navigation__list-items-link:hover{
    border-bottom: none;
    color: #30afaf7e;
}
.navigation__list-items--menu .navigation__list-items-link{
    margin-top: 1.7rem;
}